
.Home{
  display: flex;
  flex-direction: column;
  position: relative;
}

.Home_Main {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  //align-items: center;
  //margin: 10px;
  margin-top: 70px;
  justify-content: center;
  align-items: flex-start;
}