.Swatch_Container{
  //border: 5px solid green;
  .icon{
    display: inline-block;
    position: absolute;
    z-index: 1;
    transform: translateY(-80%);
    top: 53%;
    scale: 70%;

    &.forwards{
      left: 105%;
    }
    &.backwards{
      left: -10%;
    }
  }
}
.ProductDetailYouMayAlsoLikeProducts{
  //max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 30px;

  &_Image{
    //display: flex;
    //flex-direction: row;
    cursor: pointer;
    height: 360px;
    width: 300px;
    background-size: cover;
    transition: all ease-in-out 0.3s;
    position: relative;
    //margin: auto;
    //padding: 0 10px;

    &:hover{
    transition: all ease-in-out 0.3s;
  }
    &_Bar{
      width: 300px;
      height: 60px;
      background-color: #f5f5f5;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 1;

      &_Swatches{
        display: flex;
        flex-direction: row;
        gap: 3px;

        &_Swatch{
          width: 25px;
          height: 25px;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid #f5f5f5;
        }
        &_Swatch.Border{
          border: 2px solid black;
        }
      }
      &_Arrow{
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
  &_Name{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
  }

  &_Price{
    font-size: 16px;
    margin: 20px 0;
  }



}